<!DOCTYPE html>
<html>
  <head>
    <title><%= obj.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
        body > nav, body > section {
            float: left;
            height : 200px;
        }
        .users{
            float: left;
        }
        nav{
            background: lightgreen;
        }
        header{
            background: lightblue;
        }
        section{
            background: lightpink;
        }
        section > article{
            background: lightgray;
            margin: 5px 5px 5px 5px;
        }
    </style>
  </head>
  <body>
      <nav>
        <a href='./'>메인</a><br/>
        <a href='./sign-up-class'>수강신청</a><br/>
        <a href='./check-class'>수강조회</a><br/>
        <a href='./exam'>시험보기</a><br/>
        <a href='./check-grade'>성적조회</a><br/>
        <a href='./rating-class'>강의평가</a><br/>
      </nav>
      <section>
        <header>
            <%= obj.title %>
        </header>
        <section>
                <article>
                    <div>
                        <p>
                            <span>[<%= obj.cource[0].subject_name %>]|[<%= obj.cource[0].cource_name %>]</span><span>[<%= obj.cource[0].professor_name %>]</span>
                        </p>
                        <p>
                            <span>수강기간 : [<%= obj.cource[0].start_date %> ~ <%= obj.cource[0].end_date %>]</span>
                        </p>
                        <p>
                            <span>[<%= obj.cource[0].other_details %>]</span>
                        </p>
                    </div>
                </article>
                <article>
                    <div>
                        <p>
                            <span>[<%= obj.cource[1].subject_name %>]|[<%= obj.cource[1].cource_name %>]</span><span>[<%= obj.cource[1].professor_name %>]</span>
                        </p>
                        <p>
                            <span>수강기간 : [<%= obj.cource[1].start_date %> ~ <%= obj.cource[1].end_date %>]</span>
                        </p>
                        <p>
                            <span>[<%= obj.cource[1].other_details %>]</span>
                        </p>
                    </div>
                </article>
        </section>
      </section>
  </body>
</html>
