<!DOCTYPE html>
<html>
    <head include-ejs="script.ejs">
      <title><%= obj.title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <style type="text/css">
          body > nav, body > section {
              float: left;
              height : 200px;
          }
          .users{
              float: left;
          }
          nav{
              background: lightgreen;
          }
          header{
              background: lightblue;
          }
          section{
              background: lightpink;
          }
          section > article:nth-child(1){
              background: lightsalmon;
          }
          section > article:nth-child(2){
              background: lightcoral;
          }
          section > article:nth-child(3){
              background: lightcyan;
          }
      </style>
      <% include ./script %>
    </head>
  <body>
        <nav id="nav_menu">
            <% include ./nav %>
        </nav>
      <section>
        <header>
            <!-- <%= obj.title %> -->
        </header>
        <section>
            <article>
                <div>
                    <p>
                        <span>
                            연도 : <select name="" id="">
                                <% if (obj.year) { %>
                                    <option value=<%= obj.year[0] %> selected><%= obj.year[0] %></option>
                                    <option value=<%= obj.year[1] %>><%= obj.year[1] %></option>
                                    <option value=<%= obj.year[2] %>><%= obj.year[2] %></option>
                                <% } %>
                            </select></span>
                        <span>학기 : 
                            <select name="" id="">
                                <% if (obj.year) { %>
                                    <option value='1' selected>1</option>
                                    <option value='2'>2</option>
                                <% } %>
                            </select>
                        </span> <button>검색</button>
                    </p>
                    <p>
                        <span>
                            <select name="" id="">
                                    <option value="subject" selected>과목명</option>
                                    <option value="cource">강좌명</option>
                                    <option value="professor">교육자명</option>
                            </select>
                        </span>
                        <input type="text" name="" id="" placeholder="검색어를 입력해주세요."> <button>검색</button>
                    </p>
                </div>
            </article>
            <article>
                    <table>
                            <thead>
                                <td>
                                    연도
                                </td>
                                <td>
                                    학기
                                </td>
                                <td>
                                    과목
                                </td>
                                <td>
                                    강좌
                                </td>
                                <td>
                                    교육자명
                                </td>
                                <td>
                                    중간점수
                                </td>
                                <td>
                                    기말점수
                                </td>
                            </thead>
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                    </table>
            </article>
        </section>
      </section>
  </body>
</html>
