<!DOCTYPE html>
<html>
    <head include-ejs="script.ejs">
      <title><%= obj.title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <style type="text/css">
          body > nav, body > section {
              float: left;
              height : 200px;
          }
          .users{
              float: left;
          }
          nav{
              background: lightgreen;
          }
          header{
              background: lightblue;
          }
          section{
              background: lightpink;
          }
          section > article:nth-child(1){
              background: lightsalmon;
          }
          section > article:nth-child(2){
              background: lightcoral;
          }
          section > article:nth-child(3){
              background: lightcyan;
          }
      </style>
      <% include ./script %>
    </head>
  <body>
        <nav id="nav_menu">
            <% include ./nav %>
        </nav>
      <section>
        <header>
            <%= obj.title %>
        </header>
        <section>
                <article>
                    <div>
                        <p>
                            <span>[<%= obj.exam[0].subject_name %>]|[<%= obj.exam[0].cource_name %>]</span><span>[<%= obj.exam[0].professor_name %>]</span>
                        </p>
                        <p>
                            <span>시험응시기간 : [<%= obj.exam[0].start_date %> ~ <%= obj.exam[0].end_date %>]</span>
                        </p>
                    </div>
                </article>
                <article>
                    <div>
                        <p>
                            <span>[<%= obj.exam[1].subject_name %>]|[<%= obj.exam[1].cource_name %>]</span><span>[<%= obj.exam[1].professor_name %>]</span>
                        </p>
                        <p>
                            <span>시험응시기간 : [<%= obj.exam[1].start_date %> ~ <%= obj.exam[1].end_date %>]</span>
                        </p>
                    </div>
                </article>
        </section>
      </section>
  </body>
</html>
