<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Resume - Start Bootstrap Theme</title>
  
  <link rel="stylesheet" href="../stylesheets/uploadfile_input.css"></link>

  <!-- Bootstrap core CSS -->
  <link href="../resume/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="../resume/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../resume/css/resume.min.css" rel="stylesheet">

  <script src="../javascripts/noimg.js"></script>
</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <% include nav %>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">노
          <span class="text-primary">진우</span>
        </h1>
        <div class="subheading mb-5">강동구 · 서울특별시 · 대한민국 · 
          <a href="mailto:aprkfkdrp@gmail.com">aprkfkdrp@gmail.com</a>
        </div>
        <p class="lead mb-5">
          2013.03) 경민대학교 인터넷정보과 입학<br>
          2014.01) 육군 입대<br>
          2015.10) 육군 제대<br>
          2018.02) 경민대학교 인터넷정보과 졸업<br>
          2018.03) 경민대학교 융합소프트웨어과(4학년 전공심화 과정) 입학<br>
          2019.02) 경민대학교 융합소프트웨어과(4학년 전공심화 과정) 졸업
        </p>
        <div class="social-icons">
          <a href="https://github.com/RohJinWoo" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item icon_center">
            <i class="fab fa-html5"><p class="language_text">HTML5</p></i>
          </li>
          <li class="list-inline-item icon_center">
            <i class="fab fa-css3-alt"><p class="language_text">CSS</p></i>
          </li>
          <li class="list-inline-item icon_center">
            <i class="fab fa-js-square"><p class="language_text">JavaScript</p></i>
          </li>
          <li class="list-inline-item icon_center">
            <i class="fab fa-node-js"><p class="language_text">Node.js</p></i>
          </li>
          <li class="list-inline-item icon_center">
            <i class="fab fa-npm"><p class="language_text">npm</p></i>
          </li>
          <li class="list-inline-item icon_center">
            <i class="fab fa-java"><p class="language_text">JAVA</p></i>
          </li>
          <li class="list-inline-item icon_center">
            <i class="fab fa-sequelize"><img src="../images/sequelizejs.png"><p class="language_text">Sequelize</p></i>
          </li>
          <li class="list-inline-item icon_center">
            <i class="fab fa-mysql"><img src="../images/mysql.png"><p class="language_text">MySQL</p></i>
          </li>
          <li class="list-inline-item icon_center">
            <i class="fab fa-oracle"><img src="../images/Oracle.png"><p class="language_text">Oracle</p></i>
          </li>
        </ul>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="notices">
      <div class="w-100">
        <h2 class="mb-5">Noitces</h2>

        <% if(obj.notice.length > 0){
            for(let i = 0; i < obj.notice.length; i++){ %>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5" name="notice_post" style="cursor:pointer" >
          <div class="resume-content">
            <h3 class="mb-0"><%= obj.notice[i].n_title %></h3>
            <div class="subheading mb-3" name="notice_num"><%= obj.notice[i].n_id %></div>
            <p><%- obj.notice[i].n_content %></p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary"><%= obj.notice[i].createdAt %></span>
            <p><img src="../images/upload_file.png" class="upload_file_img">+<%= (obj.notice[i].file_cnt === null) ? 0 : obj.notice[i].file_cnt %></p>
          </div>
        </div>

        <%  } %>
        <div class="text-md-right">
            <h5><a href="./notice">더 보기</a></h5>
        </div>
        <%}else{ %>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">공지사항이 없습니다.</h3>
            <div class="subheading mb-3">Intelitec Solutions</div>
            <p>내용없음</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">XXX</span>
          </div>
        </div>

        <% } %>
      </div>

    </section>
    
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="uploads">
      <div class="w-100">
        <h2 class="mb-5">FileUploads &amp; DirectoryFind</h2>
        <% include ../file/upload %>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="../resume/vendor/jquery/jquery.min.js"></script>
  <script src="../resume/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../resume/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../resume/js/resume.min.js"></script>
  
  <script src="../javascripts/users/notice_test.js"></script>

</body>

</html>
