<!DOCTYPE html>
<html>
  <head>
    <title><%= obj !== undefined ? obj.title : '' %></title>

    <link href="../resume/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../resume/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  
    <!-- Custom styles for this template -->
    <link href="../resume/css/resume.min.css" rel="stylesheet">
  
    <link rel="stylesheet" href="../stylesheets/uploadfile_input.css">
    
    <script src="../javascripts/noimg.js"></script>
  </head>
  <body>
    <form id="form">
      <div class="resume-item flex-column flex-md-row justify-content-between mb-5" name="notice_post">
        <div class="resume-content">
          <h3 class="mb-0"><%= obj !== undefined ? obj.title : '' %></h3>
          <div class="d-flex justify-content-between">
            <div class="subheading mb-3" name="notice_num">
              <%= obj !== undefined ? obj.id : '' %>
            </div>
            <div>
              작성일 : <%= obj !== undefined ? obj.createdAt : '날짜 식별 불가' %><br>
              수정일 : <%= obj !== undefined ? obj.updatedAt : '날짜 식별 불가' %>
            </div>
          </div>
          <hr>
          <div><%- obj !== undefined ? obj.content : '' %></div>
        </div>
        <hr>
        <div class="button-group">
          <p>첨부 파일</p>
            <% if(obj.filepath.length !== 0) {
                for(var i = 0; i < obj.filepath.length; i++) { %>
                    <button type="button" name="filedown" id="filedown" class="down_button" onclick="download([<%=obj.id%> , <%= i %>])"><%= obj.filepath[i].filepath %></button><br />
                <%  }
            } else { %>
                [ 없음 ]
            <% } %>
        </div>
        <hr>
        <div class="text-md-right">
            <a href="./notice">목록으로</a>
        </div>
        <!-- <button type="button" onclick="mod()">수정</button>
        <button type="button" onclick="del()">삭제</button> -->
      </div>
    </form>
  </body>
  <script src = '../javascripts/util.js'></script>
  <script src = '../js/axios.min.js'></script>
  <script src = '../javascripts/notice.js'></script>

    <!-- Bootstrap core JavaScript -->
    <script src="../resume/vendor/jquery/jquery.min.js"></script>
    <script src="../resume/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Plugin JavaScript -->
    <script src="../resume/vendor/jquery-easing/jquery.easing.min.js"></script>
  
</html>