<!DOCTYPE html>
<html>
  <head>
    <title><%= obj.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
        body > nav, body > section {
            float: left;
            height : 200px;
        }
        .users{
            float: left;
        }
        nav{
            background: lightgreen;
        }
        header{
            background: lightblue;
        }
        section{
            background: lightpink;
        }
        section > article{
            background: lightgray;
            margin: 5px 5px 5px 5px;
        }
    </style>
    <script src="../js/axios.min.js"></script>
    <script>
        var nav_menu = function(){
            axios.get('./nav.ejs')
            .then((response) => {
                document.querySelector("#nav_menu").innerHTML = response.data;
            })
            .catch((err) => {
                console.log(err);
            });
        }
        nav_menu();
        // function ss(){
        //     document.getElementById('#nav_menu').load('./nav.ejs');
        // }
        // ss();
    </script>
  </head>
  <body>
        <nav id="nav_menu">
        </nav>
      <section>
        <header>
            <%= obj.title %>
        </header>
        <section>
                <article>
                    <div>
                        <p>
                            <span>[<%= obj.cource[0].subject_name %>]|[<%= obj.cource[0].cource_name %>]</span><span>[<%= obj.cource[0].professor_name %>]</span>
                        </p>
                        <p>
                            <span>신청기간 : [<%= obj.cource[0].start_date %> ~ <%= obj.cource[0].end_date %>]</span>
                        </p>
                        <p>
                            <span>[<%= obj.cource[0].other_details %>]</span>
                        </p>
                    </div>
                </article>
                <article>
                    <div>
                        <p>
                            <span>[<%= obj.cource[1].subject_name %>]|[<%= obj.cource[1].cource_name %>]</span><span>[<%= obj.cource[1].professor_name %>]</span>
                        </p>
                        <p>
                            <span>신청기간 : [<%= obj.cource[1].start_date %> ~ <%= obj.cource[1].end_date %>]</span>
                        </p>
                        <p>
                            <span>[<%= obj.cource[1].other_details %>]</span>
                        </p>
                    </div>
                </article>
        </section>
      </section>
  </body>
</html>
