<!DOCTYPE html>
<html>
  <head>
    <title>공지사항</title>
  </head>
  <body>
      <form id="form" onsubmit="return subclose()">
          <h1>공지사항</h1>
          <div>
            <input type="text" name="title" id="title" placeholder="제목" value="<%= obj !== undefined ? obj.title : '' %>">
          </div>
          <div>
            <textarea name="content" id="content" cols="30" rows="10" placeholder="내용"><%= obj !== undefined ? obj.content : '' %></textarea>
          </div>
          <div>
            <button type="button" onclick="createNotice('<%= obj.content !== undefined ? "update" : "create"%>')"><%= obj.content !== undefined ? '수정' : '생성'%></button>
          </div>
        </form>
  </body>
  <script src = '<%= obj.content !== undefined ? '' : '.'%>./javascripts/util.js'></script>
  <script src = '<%= obj.content !== undefined ? '' : '.'%>./js/axios.min.js'></script>
  <script src = '<%= obj.content !== undefined ? '' : '.'%>./javascripts/notice_edit.js'></script>
</html>