<!DOCTYPE html>
<html>
    <head>
        <title><%= obj !== undefined ? obj.title : '' %></title>
    </head>
    <body>
        <form id="form" onsubmit="return subclose()">
            <h1>제목 : <span id="title" name="title"><%= obj !== undefined ? obj.title : '' %></span></h1>
            날짜 : <span id = "date" name="date"><%= obj.updatedAt !== undefined ? obj.updatedAt : '' %></span>
            <div>
                <p>내용 : <span id="content" name="content"><%= obj.content !== undefined ? obj.content : '내용 없음' %></span></p>
            </div>
            <div>
                <p>첨부 파일 : 
                    <% if(obj.filepath.length !== 0) {
                        for(var i = 0; i < obj.filepath.length; i++) { %>
                            <button type="button" name="filedown" onclick="download([<%=obj.id%> , <%= i %>])"><%= obj.filepath[i].filepath %></button>
                        <%  }
                    } else { %>
                        없음
                    <% } %>
                </p>
            </div>
            <button type="button" onclick="mod()">수정</button>
            <button type="button" id="delete_notice">삭제</button>
        </form>
    </body>
        <script src="../javascripts/util.js"></script>
        <script src="../js/axios.min.js"></script>
        <script src="../javascripts/notice.js"></script>
</html>